.header{
  height:60px;
  border-bottom:1px solid #ddd;
  padding-top:18px;
  box-sizing:border-box;

  .logo{
    font-family: 'Stardos Stencil', cursive;
    font-size:30px;
    font-weight:700;
    float:left;
  }

}

.gnb{
  float:right;
  position:relative;
  top:8px;

  &-list{

    &-item{
      float:left;
      margin-left:151px;
    }

    &-link{

      font:{
        family: 'Stardos Stencil', cursive;
        size:16px;
        weight:700;
      }

      color:#000;
      text-decoration: none;

      &:hover{
        text-decoration: line-through;
      }

    }


  }


}

.main-visual{

  &-img{
    display:block;
  }

}

.text-section{

  >.inner-text{
    height:200px;
    background:#ddd;
  }

  .def-list{
    width:286px;
    height:200px;
    text-align:center;
    padding:50px 34px 0;
    box-sizing:border-box;
    float:left;
    margin-right:20px;

    &:last-child{
      margin-right:0;
    }

    &-title{
      font-weight:700;
    }

    &-data{
      font-size:13px;
      font-weight:300;
      line-height:1.2;
      margin-top:20px;
    }
  }

}